body {
    background-color: pink;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Add space between items */
    height: 100vh;
  }
  .picture-container {
    flex: 1; /* Allow the picture container to grow and fill remaining space */
    border: 5px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  .image-wrapper {
    max-width: 100%;
    max-height: 100%;
  }

  #random-picture {
    width: auto;
    max-width: 100%; /* Cap image's maximum width */
    max-height: 100%; /* Cap image's maximum height */
  }

  #randomize-button {
    margin-top: 20px; /* Add spacing between image and button */
  }